In [36]:
!git clone https://github.com/PhonePe/pulse.git

fatal: destination path 'pulse' already exists and is not an empty directory.

In [2]:
import os
path="C:\\DataScience\\Projects\\pulse\\data\\aggregated\\transaction\\country\\india\\state\\"
Agg_state_list=os.listdir(path)
Agg_state_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [52]:

import os
path="C:\\DataScience\\Projects\\pulse\\data\\aggregated\\transaction\\country\\india\\state\\"
Agg_state_list=os.listdir(path)

#Once created the clone of GIT-HUB repository then,
#Required libraries for the program

import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path= "C:\\DataScience\\Projects\\pulse\\data\\aggregated\\transaction\\country\\india\\state\\"
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quarter':[],'Transaction_type':[],'Transaction_count':[], 'Transaction_amount':[],}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
                Name=z['name']
                count=z['paymentInstruments'][0]['count']
                amount=z['paymentInstruments'][0]['amount']
                clm['Transaction_type'].append(Name)
                clm['Transaction_count'].append(count)
                clm['Transaction_amount'].append(amount)
                clm['State'].append(i)
                clm['Year'].append(j)
                clm['Quarter'].append(int(k.strip('.json')))
                            
#Succesfully created a dataframe
Agg_Trans=pd.DataFrame(clm)

In [53]:
Agg_Trans

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
5029,west-bengal,2024,4,Merchant payments,655100809,3.892862e+11
5030,west-bengal,2024,4,Peer-to-peer payments,493217788,1.361927e+12
5031,west-bengal,2024,4,Recharge & bill payments,76043195,5.753406e+10
5032,west-bengal,2024,4,Financial Services,2352084,8.472965e+08
5033,west-bengal,2024,4,Others,421806,5.053641e+08

In [54]:
state_mapping ={
"andaman-&-nicobar-islands":"Andaman and Nicobar Islands",
"andhra-pradesh":"Andhra Pradesh",
"arunachal-pradesh":"Arunachal Pradesh",
"assam":"Assam",
"bihar":"Bihar",
"chandigarh":"Chandigarh",
"chhattisgarh":"Chhattisgarh",
"dadra-&-nagar-haveli-&-daman-&-diu":"Dadra and Nagar Haveli and Daman and Diu",
"delhi":"Delhi",
"goa":"Goa",
"gujarat":"Gujarat",
"haryana":"Haryana",
"himachal-pradesh":"Himachal Pradesh",
"jammu-&-kashmir":"Jammu and Kashmir",
"jharkhand":"Jharkhand",
"karnataka":"Karnataka",
"kerala":"Kerala",
"ladakh":"Ladakh",
"lakshadweep":"Lakshadweep",
"madhya-pradesh":"Madhya Pradesh",
"maharashtra":"Maharashtra",
"manipur":"Manipur",
"meghalaya":"Meghalaya",
"mizoram":"Mizoram",
"nagaland":"Nagaland",
"odisha":"Odisha",
"puducherry":"Puducherry",
"punjab":"Punjab",
"rajasthan":"Rajasthan",
"sikkim":"Sikkim",
"tamil-nadu":"Tamil Nadu",
"telangana":"Telangana",
"tripura":"Tripura",
"uttarakhand":"Uttarakhand",
"uttar-pradesh":"Uttar Pradesh",
"west-bengal":"West Bengal",

    }


Agg_Trans["State_cleaned"] = Agg_Trans["State"].map(state_mapping)

In [55]:
Agg_Trans

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount,State_cleaned
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06,Andaman and Nicobar Islands
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07,Andaman and Nicobar Islands
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05,Andaman and Nicobar Islands
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04,Andaman and Nicobar Islands
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05,Andaman and Nicobar Islands
...,...,...,...,...,...,...,...
5029,west-bengal,2024,4,Merchant payments,655100809,3.892862e+11,West Bengal
5030,west-bengal,2024,4,Peer-to-peer payments,493217788,1.361927e+12,West Bengal
5031,west-bengal,2024,4,Recharge & bill payments,76043195,5.753406e+10,West Bengal
5032,west-bengal,2024,4,Financial Services,2352084,8.472965e+08,West Bengal
5033,west-bengal,2024,4,Others,421806,5.053641e+08,West Bengal

In [58]:
cols = list(Agg_Trans.columns)
cols

['State',
 'Year',
 'Quarter',
 'Transaction_type',
 'Transaction_count',
 'Transaction_amount',
 'State_cleaned']

In [63]:
from sqlalchemy import create_engine

# Replace with your actual credentials
user = "root"
password = "root"
host = "localhost"
port = "3306"
database = "phonepe"

# Create SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{"root"}:{"root"}@{host}:{3306}/{"phonepe"}")

Agg_Trans.to_sql(name='Aggregated_trans', con=engine, if_exists='replace', index=False)
Agg_Trans

C:\Users\Adhiran\AppData\Local\Temp\ipykernel_13992\3190808700.py:13: UserWarning: The provided table name 'Aggregated_trans' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  Agg_Trans.to_sql(name='Aggregated_trans', con=engine, if_exists='replace', index=False)

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount,State_cleaned
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06,Andaman and Nicobar Islands
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07,Andaman and Nicobar Islands
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05,Andaman and Nicobar Islands
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04,Andaman and Nicobar Islands
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05,Andaman and Nicobar Islands
...,...,...,...,...,...,...,...
5029,west-bengal,2024,4,Merchant payments,655100809,3.892862e+11,West Bengal
5030,west-bengal,2024,4,Peer-to-peer payments,493217788,1.361927e+12,West Bengal
5031,west-bengal,2024,4,Recharge & bill payments,76043195,5.753406e+10,West Bengal
5032,west-bengal,2024,4,Financial Services,2352084,8.472965e+08,West Bengal
5033,west-bengal,2024,4,Others,421806,5.053641e+08,West Bengal