In [4]:
!git clone https://github.com/PhonePe/pulse.git

fatal: destination path 'pulse' already exists and is not an empty directory.

In [2]:
import os
path = "C:\\DataScience\\Projects\\pulse\\data\\map\\insurance\\hover\\country\\india\\state\\"
Agg_state_list=os.listdir(path)
Agg_state_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [3]:
#Once created the clone of GIT-HUB repository then,
#Required libraries for the program

import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path="C:\\DataScience\\Projects\\pulse\\data\\map\\insurance\\hover\\country\\india\\state\\"
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quarter':[],'District':[], 'Insu_Trans_count':[], 'Insu_Trans_amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)            
            for z in D['data']['hoverDataList']:
              District =z['name']
              count=z['metric'][0]['count']
              amount=z['metric'][0]['amount']
              clm['District'].append(District)
              clm['Insu_Trans_count'].append(count)
              clm['Insu_Trans_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quarter'].append(int(k.strip('.json')))
#Succesfully created a dataframe
map_insurance=pd.DataFrame(clm)

In [4]:
map_insurance

,State,Year,Quarter,District,Insu_Trans_count,Insu_Trans_amount
0,andaman-&-nicobar-islands,2020,2,south andaman district,3,795.0
1,andaman-&-nicobar-islands,2020,2,nicobars district,3,565.0
2,andaman-&-nicobar-islands,2020,3,north and middle andaman district,1,281.0
3,andaman-&-nicobar-islands,2020,3,south andaman district,35,13651.0
4,andaman-&-nicobar-islands,2020,3,nicobars district,5,1448.0
...,...,...,...,...,...,...
13871,west-bengal,2024,4,alipurduar district,1023,1613143.0
13872,west-bengal,2024,4,paschim bardhaman district,4945,7005851.0
13873,west-bengal,2024,4,nadia district,3807,5031294.0
13874,west-bengal,2024,4,birbhum district,1818,2423290.0
13875,west-bengal,2024,4,purba medinipur district,3559,4439061.0

In [5]:
# Remove dupdrop_duplicates
map_insurance_unique = map_insurance.drop_duplicates()

In [6]:
#To remove null (missing) values
map_insurance_cleaned = map_insurance_unique.dropna()

In [7]:
map_insurance_cleaned

,State,Year,Quarter,District,Insu_Trans_count,Insu_Trans_amount
0,andaman-&-nicobar-islands,2020,2,south andaman district,3,795.0
1,andaman-&-nicobar-islands,2020,2,nicobars district,3,565.0
2,andaman-&-nicobar-islands,2020,3,north and middle andaman district,1,281.0
3,andaman-&-nicobar-islands,2020,3,south andaman district,35,13651.0
4,andaman-&-nicobar-islands,2020,3,nicobars district,5,1448.0
...,...,...,...,...,...,...
13871,west-bengal,2024,4,alipurduar district,1023,1613143.0
13872,west-bengal,2024,4,paschim bardhaman district,4945,7005851.0
13873,west-bengal,2024,4,nadia district,3807,5031294.0
13874,west-bengal,2024,4,birbhum district,1818,2423290.0
13875,west-bengal,2024,4,purba medinipur district,3559,4439061.0

In [9]:
from sqlalchemy import create_engine

# Replace with your actual credentials
user = "root"
password = "root"
host = "localhost"
port = "3306"
database = "phonepe"

# Create SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{"root"}:{"root"}@{host}:{3306}/{"phonepe"}")

map_insurance_cleaned.to_sql(name='Map_insurance', con=engine, if_exists='replace', index=False)
map_insurance_cleaned

C:\Users\Adhiran\AppData\Local\Temp\ipykernel_9684\966845616.py:13: UserWarning: The provided table name 'Map_insurance' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  map_insurance_cleaned.to_sql(name='Map_insurance', con=engine, if_exists='replace', index=False)

,State,Year,Quarter,District,Insu_Trans_count,Insu_Trans_amount
0,andaman-&-nicobar-islands,2020,2,south andaman district,3,795.0
1,andaman-&-nicobar-islands,2020,2,nicobars district,3,565.0
2,andaman-&-nicobar-islands,2020,3,north and middle andaman district,1,281.0
3,andaman-&-nicobar-islands,2020,3,south andaman district,35,13651.0
4,andaman-&-nicobar-islands,2020,3,nicobars district,5,1448.0
...,...,...,...,...,...,...
13871,west-bengal,2024,4,alipurduar district,1023,1613143.0
13872,west-bengal,2024,4,paschim bardhaman district,4945,7005851.0
13873,west-bengal,2024,4,nadia district,3807,5031294.0
13874,west-bengal,2024,4,birbhum district,1818,2423290.0
13875,west-bengal,2024,4,purba medinipur district,3559,4439061.0