In [16]:
!git clone https://github.com/PhonePe/pulse.git

fatal: destination path 'pulse' already exists and is not an empty directory.

In [1]:
import os
path="C:\\DataScience\\Projects\\pulse\\data\\top\\insurance\\country\\india\\state\\"
Agg_state_list=os.listdir(path)
Agg_state_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [5]:
#Once created the clone of GIT-HUB repository then,
#Required libraries for the program

import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path="C:\\DataScience\\Projects\\pulse\\data\\top\\insurance\\country\\india\\state\\"
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quarter':[],'districts':[], 'Trans_count':[], 'Trans_amount':[],
    'pincodes' :[],'Pin_Trans_count':[],'Pin_Trans_amount':[]
     
     
     }

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']["districts"]:
                 name = z["entityName"]
                 count = z["metric"]["count"]
                 amount = z["metric"]["amount"]
            for c in D['data']["pincodes"]:
                 name_1 = c["entityName"]
                 count_1 = z["metric"]["count"]
                 amount_1 = z["metric"]["amount"]
                 clm['districts'].append(name)
                 clm['Trans_count'].append(count)
                 clm['Trans_amount'].append(amount)
                 clm['pincodes'].append(name_1)
                 clm['Pin_Trans_count'].append(count_1)
                 clm['Pin_Trans_amount'].append(amount_1)
                 clm['State'].append(i)
                 clm['Year'].append(j)
                 clm['Quarter'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Top_insurance=pd.DataFrame(clm)

In [6]:
Top_insurance

,State,Year,Quarter,districts,Trans_count,Trans_amount,pincodes,Pin_Trans_count,Pin_Trans_amount
0,andaman-&-nicobar-islands,2020,2,south andaman,3,795.0,744301,3,795.0
1,andaman-&-nicobar-islands,2020,2,south andaman,3,795.0,744104,3,795.0
2,andaman-&-nicobar-islands,2020,2,south andaman,3,795.0,744101,3,795.0
3,andaman-&-nicobar-islands,2020,3,north and middle andaman,1,281.0,744112,1,281.0
4,andaman-&-nicobar-islands,2020,3,north and middle andaman,1,281.0,744105,1,281.0
...,...,...,...,...,...,...,...,...,...
6663,west-bengal,2024,4,purba bardhaman,3595,4482879.0,711101,3595,4482879.0
6664,west-bengal,2024,4,purba bardhaman,3595,4482879.0,700091,3595,4482879.0
6665,west-bengal,2024,4,purba bardhaman,3595,4482879.0,700150,3595,4482879.0
6666,west-bengal,2024,4,purba bardhaman,3595,4482879.0,700039,3595,4482879.0
6667,west-bengal,2024,4,purba bardhaman,3595,4482879.0,700156,3595,4482879.0

In [7]:
# Remove dupdrop_duplicates
Top_insurance_unique = Top_insurance.drop_duplicates()

In [8]:
#To remove null (missing) values
Top_insurance_cleaned = Top_insurance_unique.dropna()

In [9]:
Top_insurance_cleaned

,State,Year,Quarter,districts,Trans_count,Trans_amount,pincodes,Pin_Trans_count,Pin_Trans_amount
0,andaman-&-nicobar-islands,2020,2,south andaman,3,795.0,744301,3,795.0
1,andaman-&-nicobar-islands,2020,2,south andaman,3,795.0,744104,3,795.0
2,andaman-&-nicobar-islands,2020,2,south andaman,3,795.0,744101,3,795.0
3,andaman-&-nicobar-islands,2020,3,north and middle andaman,1,281.0,744112,1,281.0
4,andaman-&-nicobar-islands,2020,3,north and middle andaman,1,281.0,744105,1,281.0
...,...,...,...,...,...,...,...,...,...
6663,west-bengal,2024,4,purba bardhaman,3595,4482879.0,711101,3595,4482879.0
6664,west-bengal,2024,4,purba bardhaman,3595,4482879.0,700091,3595,4482879.0
6665,west-bengal,2024,4,purba bardhaman,3595,4482879.0,700150,3595,4482879.0
6666,west-bengal,2024,4,purba bardhaman,3595,4482879.0,700039,3595,4482879.0
6667,west-bengal,2024,4,purba bardhaman,3595,4482879.0,700156,3595,4482879.0

In [11]:
from sqlalchemy import create_engine

# Replace with your actual credentials
user = "root"
password = "root"
host = "localhost"
port = "3306"
database = "phonepe"

# Create SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{"root"}:{"root"}@{host}:{3306}/{"phonepe"}")

Top_insurance_cleaned.to_sql(name='top_insurance', con=engine, if_exists='replace', index=False)
Top_insurance_cleaned

,State,Year,Quarter,districts,Trans_count,Trans_amount,pincodes,Pin_Trans_count,Pin_Trans_amount
0,andaman-&-nicobar-islands,2020,2,south andaman,3,795.0,744301,3,795.0
1,andaman-&-nicobar-islands,2020,2,south andaman,3,795.0,744104,3,795.0
2,andaman-&-nicobar-islands,2020,2,south andaman,3,795.0,744101,3,795.0
3,andaman-&-nicobar-islands,2020,3,north and middle andaman,1,281.0,744112,1,281.0
4,andaman-&-nicobar-islands,2020,3,north and middle andaman,1,281.0,744105,1,281.0
...,...,...,...,...,...,...,...,...,...
6663,west-bengal,2024,4,purba bardhaman,3595,4482879.0,711101,3595,4482879.0
6664,west-bengal,2024,4,purba bardhaman,3595,4482879.0,700091,3595,4482879.0
6665,west-bengal,2024,4,purba bardhaman,3595,4482879.0,700150,3595,4482879.0
6666,west-bengal,2024,4,purba bardhaman,3595,4482879.0,700039,3595,4482879.0
6667,west-bengal,2024,4,purba bardhaman,3595,4482879.0,700156,3595,4482879.0