In [16]:
!git clone https://github.com/PhonePe/pulse.git

fatal: destination path 'pulse' already exists and is not an empty directory.

In [27]:
import os
path = "C:\\DataScience\\Projects\\pulse\\data\\top\\user\\country\\india\\state\\"
Agg_state_list=os.listdir(path)
Agg_state_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [1]:
#Once created the clone of GIT-HUB repository then,
#Required libraries for the program

import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path="C:\\DataScience\\Projects\\pulse\\data\\top\\user\\country\\india\\state\\"
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quarter':[],'districts':[], 'registeredUsers':[],'pincodes':[],'Pin_registeredUsers':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']["districts"]:
                 name = z["name"]
                 count = z["registeredUsers"]
            for c in D['data']["pincodes"]:
                 name_1 = c["name"]
                 count_1 = c["registeredUsers"]
                 clm['districts'].append(name)
                 clm['registeredUsers'].append(count)
                 clm['pincodes'].append(name_1)
                 clm['Pin_registeredUsers'].append(count_1)
                 clm['State'].append(i)
                 clm['Year'].append(j)
                 clm['Quarter'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Top_user=pd.DataFrame(clm)

In [2]:
Top_user

,State,Year,Quarter,districts,registeredUsers,pincodes,Pin_registeredUsers
0,andaman-&-nicobar-islands,2018,1,nicobars,262,744103,1608
1,andaman-&-nicobar-islands,2018,1,nicobars,262,744101,1108
2,andaman-&-nicobar-islands,2018,1,nicobars,262,744105,1075
3,andaman-&-nicobar-islands,2018,1,nicobars,262,744102,1006
4,andaman-&-nicobar-islands,2018,1,nicobars,262,744104,272
...,...,...,...,...,...,...,...
9995,west-bengal,2024,4,paschim bardhaman,1468252,733134,169596
9996,west-bengal,2024,4,paschim bardhaman,1468252,700059,169448
9997,west-bengal,2024,4,paschim bardhaman,1468252,711302,146034
9998,west-bengal,2024,4,paschim bardhaman,1468252,700150,142151
9999,west-bengal,2024,4,paschim bardhaman,1468252,711106,142077

In [3]:
# Remove dupdrop_duplicates
Top_user_unique = Top_user.drop_duplicates()

In [4]:
#To remove null (missing) values
Top_user_cleaned = Top_user_unique.dropna()

In [5]:
Top_user_cleaned

,State,Year,Quarter,districts,registeredUsers,pincodes,Pin_registeredUsers
0,andaman-&-nicobar-islands,2018,1,nicobars,262,744103,1608
1,andaman-&-nicobar-islands,2018,1,nicobars,262,744101,1108
2,andaman-&-nicobar-islands,2018,1,nicobars,262,744105,1075
3,andaman-&-nicobar-islands,2018,1,nicobars,262,744102,1006
4,andaman-&-nicobar-islands,2018,1,nicobars,262,744104,272
...,...,...,...,...,...,...,...
9995,west-bengal,2024,4,paschim bardhaman,1468252,733134,169596
9996,west-bengal,2024,4,paschim bardhaman,1468252,700059,169448
9997,west-bengal,2024,4,paschim bardhaman,1468252,711302,146034
9998,west-bengal,2024,4,paschim bardhaman,1468252,700150,142151
9999,west-bengal,2024,4,paschim bardhaman,1468252,711106,142077

In [6]:
from sqlalchemy import create_engine

# Replace with your actual credentials
user = "root"
password = "root"
host = "localhost"
port = "3306"
database = "phonepe"

# Create SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{"root"}:{"root"}@{host}:{3306}/{"phonepe"}")

Top_user_cleaned.to_sql(name='Top_User', con=engine, if_exists='replace', index=False)
Top_user_cleaned

C:\Users\Adhiran\AppData\Local\Temp\ipykernel_4760\947289724.py:13: UserWarning: The provided table name 'Top_User' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  Top_user_cleaned.to_sql(name='Top_User', con=engine, if_exists='replace', index=False)

,State,Year,Quarter,districts,registeredUsers,pincodes,Pin_registeredUsers
0,andaman-&-nicobar-islands,2018,1,nicobars,262,744103,1608
1,andaman-&-nicobar-islands,2018,1,nicobars,262,744101,1108
2,andaman-&-nicobar-islands,2018,1,nicobars,262,744105,1075
3,andaman-&-nicobar-islands,2018,1,nicobars,262,744102,1006
4,andaman-&-nicobar-islands,2018,1,nicobars,262,744104,272
...,...,...,...,...,...,...,...
9995,west-bengal,2024,4,paschim bardhaman,1468252,733134,169596
9996,west-bengal,2024,4,paschim bardhaman,1468252,700059,169448
9997,west-bengal,2024,4,paschim bardhaman,1468252,711302,146034
9998,west-bengal,2024,4,paschim bardhaman,1468252,700150,142151
9999,west-bengal,2024,4,paschim bardhaman,1468252,711106,142077