In [ ]:
!git clone https://github.com/PhonePe/pulse.git

In [1]:
import os
path = "C:\\DataScience\\Projects\\pulse\\data\\top\\transaction\\country\\india\\state\\"
Agg_state_list=os.listdir(path)
Agg_state_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [1]:
#Once created the clone of GIT-HUB repository then,
#Required libraries for the program

import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path="C:\\DataScience\\Projects\\pulse\\data\\top\\transaction\\country\\india\\state\\"
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quarter':[],'districts':[], 'Transactions_count':[], 'Transactions_amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']["districts"]:
                 name = z["entityName"]
                 count = z["metric"]["count"]
                 amount = z["metric"]["amount"]
                 clm['districts'].append(name)
                 clm['Transactions_count'].append(count)
                 clm['Transactions_amount'].append(amount)
                 clm['State'].append(i)
                 clm['Year'].append(j)
                 clm['Quarter'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Top_trans=pd.DataFrame(clm)

In [2]:
Top_trans

,State,Year,Quarter,districts,Transactions_count,Transactions_amount
0,andaman-&-nicobar-islands,2018,1,south andaman,5688,1.256025e+07
1,andaman-&-nicobar-islands,2018,1,nicobars,528,1.139849e+06
2,andaman-&-nicobar-islands,2018,1,north and middle andaman,442,9.316631e+05
3,andaman-&-nicobar-islands,2018,2,south andaman,9395,2.394824e+07
4,andaman-&-nicobar-islands,2018,2,nicobars,1120,3.072437e+06
...,...,...,...,...,...,...
8291,west-bengal,2024,4,howrah,67496284,1.025764e+11
8292,west-bengal,2024,4,nadia,65274337,1.079320e+11
8293,west-bengal,2024,4,malda,63424613,1.024212e+11
8294,west-bengal,2024,4,hooghly,59676576,9.071383e+10
8295,west-bengal,2024,4,paschim medinipur,58238212,8.431774e+10

In [3]:
# Remove dupdrop_duplicates
Top_trans_unique = Top_trans.drop_duplicates()

In [4]:
#To remove null (missing) values
Top_trans_cleaned = Top_trans_unique.dropna()

In [5]:
Top_trans_cleaned

,State,Year,Quarter,districts,Transactions_count,Transactions_amount
0,andaman-&-nicobar-islands,2018,1,south andaman,5688,1.256025e+07
1,andaman-&-nicobar-islands,2018,1,nicobars,528,1.139849e+06
2,andaman-&-nicobar-islands,2018,1,north and middle andaman,442,9.316631e+05
3,andaman-&-nicobar-islands,2018,2,south andaman,9395,2.394824e+07
4,andaman-&-nicobar-islands,2018,2,nicobars,1120,3.072437e+06
...,...,...,...,...,...,...
8291,west-bengal,2024,4,howrah,67496284,1.025764e+11
8292,west-bengal,2024,4,nadia,65274337,1.079320e+11
8293,west-bengal,2024,4,malda,63424613,1.024212e+11
8294,west-bengal,2024,4,hooghly,59676576,9.071383e+10
8295,west-bengal,2024,4,paschim medinipur,58238212,8.431774e+10

In [7]:
from sqlalchemy import create_engine

# Replace with your actual credentials
user = "root"
password = "root"
host = "localhost"
port = "3306"
database = "phonepe"

# Create SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{"root"}:{"root"}@{host}:{3306}/{"phonepe"}")

Top_trans_cleaned.to_sql(name='Top_Trans', con=engine, if_exists='replace', index=False)
Top_trans_cleaned

C:\Users\Adhiran\AppData\Local\Temp\ipykernel_13420\3844562730.py:13: UserWarning: The provided table name 'Top_Trans' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  Top_trans_cleaned.to_sql(name='Top_Trans', con=engine, if_exists='replace', index=False)

,State,Year,Quarter,districts,Transactions_count,Transactions_amount
0,andaman-&-nicobar-islands,2018,1,south andaman,5688,1.256025e+07
1,andaman-&-nicobar-islands,2018,1,nicobars,528,1.139849e+06
2,andaman-&-nicobar-islands,2018,1,north and middle andaman,442,9.316631e+05
3,andaman-&-nicobar-islands,2018,2,south andaman,9395,2.394824e+07
4,andaman-&-nicobar-islands,2018,2,nicobars,1120,3.072437e+06
...,...,...,...,...,...,...
8291,west-bengal,2024,4,howrah,67496284,1.025764e+11
8292,west-bengal,2024,4,nadia,65274337,1.079320e+11
8293,west-bengal,2024,4,malda,63424613,1.024212e+11
8294,west-bengal,2024,4,hooghly,59676576,9.071383e+10
8295,west-bengal,2024,4,paschim medinipur,58238212,8.431774e+10