In [1]:
from sqlalchemy import create_engine
import pandas as pd

# Define connection parameters
user = "root"
password = "root"
host = "localhost"
port = "3306"
database = "phonepe"

# Create SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

# Connect to the database
conn = engine.connect()

## Case Study 1:Geographical Insights - Transaction Amount Vs State

query1 = """
SELECT 
    State_cleaned, 
    ROUND(SUM(Transaction_amount) / 1000000000000, 2) AS Total_Amount_Trillion
FROM 
    aggregated_trans
GROUP BY 
    State_cleaned
ORDER BY 
    Total_Amount_Trillion DESC;
"""
# Execute query and load into DataFrame
df10 = pd.read_sql(query1, conn)
df10['query'] = 'query1'

In [2]:
df10

                               State_cleaned  Total_Amount_Trillion   query
0                                  Telangana                  41.66  query1
1                                  Karnataka                  40.68  query1
2                                Maharashtra                  40.37  query1
3                             Andhra Pradesh                  34.67  query1
4                              Uttar Pradesh                  26.89  query1
5                                  Rajasthan                  26.34  query1
6                             Madhya Pradesh                  19.13  query1
7                                      Bihar                  17.90  query1
8                                West Bengal                  15.58  query1
9                                     Odisha                  12.26  query1
10                                Tamil Nadu                  11.94  query1
11                                     Delhi                  11.64  query1
12                                   Gujarat                  10.19  query1
13                                   Haryana                   9.65  query1
14                                 Jharkhand                   5.91  query1
15                              Chhattisgarh                   4.89  query1
16                                     Assam                   3.46  query1
17                                    Kerala                   3.08  query1
18                                    Punjab                   2.98  query1
19                               Uttarakhand                   1.92  query1
20                         Jammu and Kashmir                   1.18  query1
21                          Himachal Pradesh                   0.69  query1
22                                       Goa                   0.51  query1
23                                Chandigarh                   0.29  query1
24                         Arunachal Pradesh                   0.27  query1
25                                Puducherry                   0.24  query1
26  Dadra and Nagar Haveli and Daman and Diu                   0.20  query1
27                                   Tripura                   0.20  query1
28                                   Manipur                   0.19  query1
29                                 Meghalaya                   0.16  query1
30                                  Nagaland                   0.13  query1
31                                    Sikkim                   0.12  query1
32                                    Ladakh                   0.09  query1
33               Andaman and Nicobar Islands                   0.07  query1
34                                   Mizoram                   0.05  query1
35                               Lakshadweep                   0.00  query1

In [3]:
### Case Study 2:Geographical Insights - Transaction Amount Vs Districts
query2 = """
SELECT 
    b.districts, 
    ROUND(SUM(b.Transactions_amount) / 1000000000000, 2) AS Total_Amount_Trillion
FROM 
    aggregated_trans a
JOIN 
    top_trans b 
    ON a.State = b.State 
GROUP BY 
    b.districts
ORDER BY 
    Total_Amount_Trillion DESC limit 10;
"""
# Execute query and load into DataFrame
df11 = pd.read_sql(query2, conn)
df11['query'] = 'query2'

In [4]:
df11

            districts  Total_Amount_Trillion   query
0     bengaluru urban                2791.30  query2
1           hyderabad                1666.97  query2
2                pune                1362.23  query2
3              jaipur                1099.57  query2
4          rangareddy                1001.72  query2
5  medchal malkajgiri                 806.24  query2
6       visakhapatnam                 587.80  query2
7              guntur                 444.43  query2
8               patna                 435.51  query2
9             khordha                 418.90  query2

In [5]:
from numpy import concat

# Step 3: Combine all results into one CSV
Geo_combined_df = pd.concat([df10, df11,], ignore_index=True)
Geo_combined_df.fillna('', inplace=True)
Geo_combined_df.to_csv("Geo_combined.csv", index=False)


print("Geo_combin.csv created successfully!")

Geo_combin.csv created successfully!

In [6]:
Geo_combined_df

,State_cleaned,Total_Amount_Trillion,query,districts
0,Telangana,41.66,query1,
1,Karnataka,40.68,query1,
2,Maharashtra,40.37,query1,
3,Andhra Pradesh,34.67,query1,
4,Uttar Pradesh,26.89,query1,
5,Rajasthan,26.34,query1,
6,Madhya Pradesh,19.13,query1,
7,Bihar,17.90,query1,
8,West Bengal,15.58,query1,
9,Odisha,12.26,query1,
10,Tamil Nadu,11.94,query1,
11,Delhi,11.64,query1,
12,Gujarat,10.19,query1,
13,Haryana,9.65,query1,
14,Jharkhand,5.91,query1,
15,Chhattisgarh,4.89,query1,
16,Assam,3.46,query1,
17,Kerala,3.08,query1,
18,Punjab,2.98,query1,
19,Uttarakhand,1.92,query1,
20,Jammu and Kashmir,1.18,query1,
21,Himachal Pradesh,0.69,query1,
22,Goa,0.51,query1,
23,Chandigarh,0.29,query1,
24,Arunachal Pradesh,0.27,query1,
25,Puducherry,0.24,query1,
26,Dadra and Nagar Haveli and Daman and Diu,0.20,query1,
27,Tripura,0.20,query1,
28,Manipur,0.19,query1,
29,Meghalaya,0.16,query1,
30,Nagaland,0.13,query1,
31,Sikkim,0.12,query1,
32,Ladakh,0.09,query1,
33,Andaman and Nicobar Islands,0.07,query1,
34,Mizoram,0.05,query1,
35,Lakshadweep,0.00,query1,
36,,2791.30,query2,bengaluru urban
37,,1666.97,query2,hyderabad
38,,1362.23,query2,pune
39,,1099.57,query2,jaipur
40,,1001.72,query2,rangareddy
41,,806.24,query2,medchal malkajgiri
42,,587.80,query2,visakhapatnam
43,,444.43,query2,guntur
44,,435.51,query2,patna
45,,418.90,query2,khordha