In [1]:

from sqlalchemy import create_engine
import pandas as pd

# Define connection parameters
user = "root"
password = "root"
host = "localhost"
port = "3306"
database = "phonepe"

# Create SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

# Connect to the database
conn = engine.connect()

# Case Study 1: Trend Analysis
query1 = """
SELECT 
    Year,
    Quarter,
    ROUND(SUM(Transaction_amount) / 1000000000, 2) AS Total_Amount_Billion
FROM 
    aggregated_trans
GROUP BY 
    Year, Quarter
ORDER BY 
    Year, Quarter;
"""
   
# Execute query and load into DataFrame
df7 = pd.read_sql(query1, conn)
df7['query'] = 'query1'

In [2]:
df7

    Year  Quarter  Total_Amount_Billion   query
0   2018        1                171.83  query1
1   2018        2                304.37  query1
2   2018        3                475.10  query1
3   2018        4                671.74  query1
4   2019        1                990.02  query1
5   2019        2               1354.21  query1
6   2019        3               1672.56  query1
7   2019        4               2259.89  query1
8   2020        1               2697.11  query1
9   2020        2               2646.15  query1
10  2020        3               3902.05  query1
11  2020        4               5395.85  query1
12  2021        1               6284.24  query1
13  2021        2               7476.47  query1
14  2021        3               9216.70  query1
15  2021        4              11621.29  query1
16  2022        1              13239.63  query1
17  2022        2              15504.19  query1
18  2022        3              16607.63  query1
19  2022        4              18914.89  query1
20  2023        1              20513.96  query1
21  2023        2              22918.49  query1
22  2023        3              24012.13  query1
23  2023        4              27047.23  query1
24  2024        1              29458.43  query1
25  2024        2              31820.35  query1
26  2024        3              32346.97  query1
27  2024        4              35998.80  query1

In [4]:
from numpy import concat

# Step 3: Combine all results into one CSV
trend_combined_df = pd.concat([df7], ignore_index=True)
trend_combined_df.fillna('', inplace=True)
trend_combined_df.to_csv("Trend_Ana_case_combined.csv", index=False)


print("Trend_Ana_case_combined.csv created successfully!")

Trend_Ana_case_combined.csv created successfully!

In [6]:
trend_combined_df

    Year  Quarter  Total_Amount_Billion   query
0   2018        1                171.83  query1
1   2018        2                304.37  query1
2   2018        3                475.10  query1
3   2018        4                671.74  query1
4   2019        1                990.02  query1
5   2019        2               1354.21  query1
6   2019        3               1672.56  query1
7   2019        4               2259.89  query1
8   2020        1               2697.11  query1
9   2020        2               2646.15  query1
10  2020        3               3902.05  query1
11  2020        4               5395.85  query1
12  2021        1               6284.24  query1
13  2021        2               7476.47  query1
14  2021        3               9216.70  query1
15  2021        4              11621.29  query1
16  2022        1              13239.63  query1
17  2022        2              15504.19  query1
18  2022        3              16607.63  query1
19  2022        4              18914.89  query1
20  2023        1              20513.96  query1
21  2023        2              22918.49  query1
22  2023        3              24012.13  query1
23  2023        4              27047.23  query1
24  2024        1              29458.43  query1
25  2024        2              31820.35  query1
26  2024        3              32346.97  query1
27  2024        4              35998.80  query1