In [35]:

from sqlalchemy import create_engine
import pandas as pd

# Define connection parameters
user = "root"
password = "root"
host = "localhost"
port = "3306"
database = "phonepe"

# Create SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

# Connect to the database
conn = engine.connect()

# Case Study 1: User_Engagement
query1 = """
  SELECT  a.Brand, 
    CAST(ROUND(SUM(b.AppOpens) / 1000000000	, 0) AS UNSIGNED) AS AppOpens_Billion
FROM aggregated_user a 
JOIN  map_user b ON a.State = b.State 
GROUP BY a.Brand
    """
   
# Execute query and load into DataFrame
df5 = pd.read_sql(query1, conn)
df5['query'] = 'query1'

In [36]:
df5

         Brand  AppOpens_Billion   query
0       Others              6839  query1
1     Motorola              6567  query1
2       Huawei              5980  query1
3        Apple              6263  query1
4        Tecno              1252  query1
5      OnePlus              5600  query1
6         Oppo              6839  query1
7       Realme              6839  query1
8      Samsung              6839  query1
9       Xiaomi              6839  query1
10        Vivo              6839  query1
11      Lenovo              5061  query1
12     Infinix               359  query1
13      Gionee               962  query1
14        Asus               376  query1
15  HMD Global                43  query1
16    Micromax              1557  query1
17        Lava               173  query1
18     COOLPAD                 0  query1
19         Lyf                 1  query1

In [16]:
# Case Study 2: User_Engagement-Distribution of Registered Users Across Brands
query2 = """
 SELECT  a.Brand, 
     CAST(ROUND(SUM(b.RegisteredUsers) / 1000000000, 0) AS UNSIGNED) AS RegisteredUsers_Billion
    FROM aggregated_user a 
JOIN  map_user b ON a.State = b.State
GROUP BY a.Brand ;
    """
      
# Execute query and load into DataFrame
df6 = pd.read_sql(query2, conn)
df6['query'] = 'query2'

In [17]:
df6

         Brand  RegisteredUsers_Billion   query
0       Others                      151  query2
1     Motorola                      147  query2
2       Huawei                      136  query2
3        Apple                      134  query2
4        Tecno                       24  query2
5      OnePlus                      117  query2
6         Oppo                      151  query2
7       Realme                      151  query2
8      Samsung                      151  query2
9       Xiaomi                      151  query2
10        Vivo                      151  query2
11      Lenovo                      122  query2
12     Infinix                       10  query2
13      Gionee                       13  query2
14        Asus                       11  query2
15  HMD Global                        1  query2
16    Micromax                       32  query2
17        Lava                        5  query2
18     COOLPAD                        0  query2
19         Lyf                        0  query2

In [19]:
from numpy import concat

# Step 3: Combine all results into one CSV
user_combined_df = pd.concat([df5, df6], ignore_index=True)
user_combined_df.fillna('', inplace=True)
user_combined_df.to_csv("User_case_combined.csv", index=False)


print("user_combined_df.csv created successfully!")

user_combined_df.csv created successfully!

C:\Users\Adhiran\AppData\Local\Temp\ipykernel_3664\2290580051.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  user_combined_df.fillna('', inplace=True)

In [20]:
user_combined_df

         Brand AppOpens_Billion   query RegisteredUsers_Billion
0       Others           6839.0  query1
1     Motorola           6567.0  query1
2       Huawei           5980.0  query1
3        Apple           6263.0  query1
4        Tecno           1252.0  query1
5      OnePlus           5600.0  query1
6         Oppo           6839.0  query1
7       Realme           6839.0  query1
8      Samsung           6839.0  query1
9       Xiaomi           6839.0  query1
10        Vivo           6839.0  query1
11      Lenovo           5061.0  query1
12     Infinix            359.0  query1
13      Gionee            962.0  query1
14        Asus            376.0  query1
15  HMD Global             43.0  query1
16    Micromax           1557.0  query1
17        Lava            173.0  query1
18     COOLPAD              0.0  query1
19         Lyf              1.0  query1
20      Others                   query2                   151.0
21    Motorola                   query2                   147.0
22      Huawei                   query2                   136.0
23       Apple                   query2                   134.0
24       Tecno                   query2                    24.0
25     OnePlus                   query2                   117.0
26        Oppo                   query2                   151.0
27      Realme                   query2                   151.0
28     Samsung                   query2                   151.0
29      Xiaomi                   query2                   151.0
30        Vivo                   query2                   151.0
31      Lenovo                   query2                   122.0
32     Infinix                   query2                    10.0
33      Gionee                   query2                    13.0
34        Asus                   query2                    11.0
35  HMD Global                   query2                     1.0
36    Micromax                   query2                    32.0
37        Lava                   query2                     5.0
38     COOLPAD                   query2                     0.0
39         Lyf                   query2                     0.0